header {
    background-color: lightblue;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    vertical-align: middle;
    margin-right: 20px;
}


.logo > img {
    width: 70px;
}

.navbar, .nav-li {
    display: inline-block;
    vertical-align: middle;
}

.nav-li {
    margin-left: 30px;
}

.nav-li > a {
    font-size: 18px;
    color: rgb(0, 0, 42);
    transition: all 1s;
}

.nav-li > a:hover {
    font-size: 22px;
    color: rgba(0, 0, 161, 0.651);
    border-bottom: 3px solid lightcoral;
    padding-bottom: 10px;
}

.article-1 {
    margin-top: 130px;
}

.main-title {
    font-size: 42px;
    color: rgb(56, 0, 56);
    margin-bottom: 30px;
}

.image-wrapper {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 40%;
    margin-right: 9%;
}

.image-wrapper:hover > h3 {
    color: aqua;
    font-size: 45px;
}

.image-wrapper > img {
    width: 100%;
    border-radius: 12px;
    opacity: 0.5;
    transition: all 2s;
}

.image-wrapper:hover > img {
    opacity: 1;
}

.image-wrapper > h3 {
    font-size: 28px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s;
}

.article-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 50%;
    line-height: 25px;
}


.box {
    width: 50px;
    height: 50px;
    background-color: green;
    animation: mymove 0.5s infinite alternate;
}

@keyframes mymove {
    from {
        background-color: blue;
    }
    to {
        background-color: yellow;
    }
}

.box-2 {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    animation: mymove2 3s infinite alternate-reverse;
}

@keyframes mymove2 {
    0% {
        left: 100px;
        background-color: blue;
    }
    20% {
        left: 200px;
        background-color: green;
    }
    40% {
        left: 0px;
        background-color: orange;
    }
    60% {
        left: 150px;
        background-color: yellow;
    }
    80% {
        left: 300px;
        background-color: purple;
    }
    100% {
        left: 500px;
        background-color: cyan;
    }
}